<section class="products-list">
    <header class="clearfix">
        <h3>{{ pageTitle }}</h3>
    </header>
    <div class="search-content clearfix">
        <h3>Filter by:</h3>
        <input type="text" [(ngModel)]='listFilter'/>
        <h3 class="results">Results of: {{ listFilter }}</h3>
    </div>
    <div class="card-body clearfix">
        <ul class="show-image">
            <button (click)='toggleImage()'>{{showImage ? 'Hide':'Show'}} images</button >
            <li class="images" *ngFor='let product of filteredProducts'>
                <figure *ngIf='showImage'>
                    <img [src]='product.imageUrl' alt="Product logo" [title]='product.productName'>
                </figure>
            </li>
        </ul>
        <ul>
            <h3>Name</h3>
            <li class="product" *ngFor='let product of filteredProducts'>
                {{ product.productName }}
            </li>
        </ul>
        <ul>
            <h3>Code</h3>
            <li class="code" *ngFor='let product of filteredProducts'>
                {{ product.productCode | lowercase | convertToSpaces: '-' }}
            </li>
        </ul>
        <ul> 
            <h3>Availbale</h3>
            <li class="available" *ngFor='let product of filteredProducts'>
                {{ product.releaseDate }}
            </li>
        </ul>
        <ul>
            <h3>Price</h3>
            <li class="price" *ngFor='let product of filteredProducts'>
                {{ product.price | currency:'USD':'symbol':'1.2-2' }}
            </li>
        </ul>
        <ul>
            <h3>5 star rating</h3>
            <li class="rating background" *ngFor='let product of filteredProducts' [title]="product.starRating">
               <pm-star [rating]='product.starRating'
                    (ratingClicked)="onRatingClicked($event)">
                </pm-star>
            </li>
        </ul>
        <ul class="view">
            <li *ngFor='let product of filteredProducts' class="background">
                <a [routerLink]="['/products', product.productId]">View more</a>
            </li>
        </ul>
    </div>
</section>